nav {
    background-color: green;
    font-weight: bold;
    display:grid;
}


h2 {  
    font-size:30px;
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    justify-content: left;
}

.link {
    color:yellow; 
    font-size:20px;
    grid-column: 3/ span 1;
    grid-row: 1/ span 1;
    margin-top: 30px;
    justify-content: right;
}